header {
  background-color: #ffffff;
  color: #7d7fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

header:hover {
  background-color: #f0f0f0;
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

header:hover h1 {
  color: #5d5ec0;
}
